@CHARSET "ISO-8859-1";
/**
    ****************************************
	* Sportstaetten-Reservierungs-System   *
	****************************************
	
	Autor:	Achim
	Jahr:	2016
	
	Default-Layout
	
	Quelle fuer HTML-Farbnamen: http://www.w3schools.com/colors/colors_groups.asp
	Style-Guide: https://material.google.com/style/color.html#color-color-palette

**/

/****************************************
Styles fuer Schriftgrößen, -ausrichtung
****************************************/

body {
	
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.K1 {	
	font-size: 1.5rem;
	font-weight: bold;
}  

.K2 {	
	font-size: 1rem;
	font-weight: bold;
}

.Uhrzeit {
	font-size: 1.0rem;
	text-align: right;	
}

.Muelleimer, .Sammeleimer {  
	text-align: center;
}

.Marker {  
 	font-size: 1.0rem;
    font-weight: bold;   
	color: white;
}

.tooltip .tooltiptext {
	font-size: 0.7rem;
}

/**************************************
Styles fuer Schriftfarben ...
**************************************/


.Sammeleimer {  
    color: #616161;						/* Gray 700 */
}

.Uhrzeit {
	color: #fafafa;						/* Gray 50 */
}

.Muelleimer {
	color: #fafafa;						/* Gray 50 */
}


/*******************************************
Styles fuer den Belegungsplan in allen Views
*******************************************/

.Belegungsplan, .K2, .Buttonlist, .Sammler{
	margin-left: 100px;
	float: left;
}

.Belegungsplan, .Zeitleiste {

	width: 320px;
}

.Datumsleiste, #DatumLinks, #DatumMitte, #DatumRechts {
	height: 20px;
}

.Ortsleiste, #OrtLinks, #OrtMitte, #OrtRechts {
	height: 20px;
}

.Platzname, .Platz {
	width: 200px;
}
	
.Platzkopf {
	float: left;
}

.Platzname {
	color: white;
}

.Platzganztags {
	height: 20px;
	margin-right: 1px;
	margin-top: 1px;
}


.Platzteil, .PlatzTeil {
	width: 49px;
}

.Platzteil{
	float: left;
	margin-top: 1px;
	margin-right: 1px;
	color: white;
}

#Platz { 
	float: left;
}

.PlatzTeil {
	float: left;
	margin-top: 1px;
	margin-right: 1px;
	height: 10px;
}

.Links, .Rechts {
	width: 60px;
	float: left;
	color: white;
}

.Mitte {
	width: 200px;
	float: left;
	color: white;
}

#PlatzLinks, #PlatzMitte, #PlatzRechts, #OrtLinks, #OrtMitte, #OrtRechts, #DatumLinks, #DatumMitte, #DatumRechts {
	text-align: center;
}

#DatumButtonLinks, #DatumButtonRechts, #OrtButtonLinks, #OrtButtonRechts, #PlatzButtonLinks, #PlatzButtonRechts {
	padding: 0px;
	border: 0px;
}

.foot, .K2, .Sammler {
	width: 600px;
}

.Muelleimer, .Sammeleimer {
	float: left;
}

#Zeitleiste {
	float: left;
}

.Platznavigation {
	height: 40px;
	
}

.Platznavigation, .Datumsnavigation, .Ortsnavigation {
	width: 60px;
	
}

#Buttonlist {
	height: 70px;
	width: 600px;
	float: left;
}

.Buttongroup {
	width: 40px;
}


.Uhrzeit {
	margin-top: 1px;
}
	
.ZeitFoot, .foot {
	height: 60px;
}

#Eimertitel, #Sammlertitel {
    height: 20px;
}

.Muelleimer, .Sammeleimer {  
    height: 40px;
	width: 300px;
}


.Marker {  
    border-radius: 5px;
    height: 37px;
	width: 169px;
	position: relative;
	float: left;
	padding: 5px;
}

div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.EventAH, .AH, .alteHerren  {
   background: #BDB76B;
}

.EventAk, .Aktive {
    background: #2F4F4F;
}

.EventA, .A-Jugend, .A-Junioren {
    background: #92B6D5;
}

.EventB, .B-Jugend, .B-Junioren {
   background: #AD5D5D;
}

.EventC, .C-Jugend, .C-Junioren {
   background: #AF9483;
}

.EventD, .D-Jugend, .D-Junioren {
   background: #D8AE47;
}

.EventE, .E-Jugend, .E-Junioren {
   background: #B76BA3;
}

.EventF, .F-Jugend, .F-Junioren {
   background: #F7786B;
}

.EventG, .Bambini, .G-Junioren {
   background: #F3386B;
}

.Eventbutton {
	float: left;
	position: relative;
	color: white;
}


