@CHARSET "ISO-8859-1";
/**
    ****************************************
	* Sportstaetten-Reservierungs-System   *
	****************************************
	
	Autor:	Achim
	Jahr:	2016
	
	Default-Layout
	
	Quelle fuer HTML-Farbnamen: http://www.w3schools.com/colors/colors_groups.asp
	Style-Guide: https://material.google.com/style/color.html#color-color-palette

 	Quelle fuer Linear-Gradient der Marker: http://www.cssmatic.com/gradient-generator
*/

.Marker {  
 	font-size: 1rem;
    font-weight: bold;   
	color: white;
	opacity: 1.0;
    border-radius: 5px;
    height: 37px;
	width: 169px;
	position: relative;
	float: left;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.EventAH, .AH, .alteHerren  {
   background: #BDB76B;
}

.EventAk, .Aktive {
   background: #2F4F4F;
}

.EventA, .A-Jugend, .A-Junioren {
    background: rgba( 88, 86, 214, 1.0); /* Purple */ 
}

.EventB, .B-Jugend, .B-Junioren {
   background: rgba( 0, 122, 255, 1.0); /* Blue */
}

.EventC, .C-Jugend, .C-Junioren {
   background: rgba( 90, 200, 250, 1.0); /* Teal Blue */
}

.EventD, .D-Jugend, .D-Junioren {
   background: rgba( 76, 217, 100, 1.0); /* Green */
}

.EventE, .E-Jugend, .E-Junioren {
   background: rgba( 255, 204, 0, 1.0); /* Yellow */
}

.EventF, .F-Jugend, .F-Junioren {
   background: rgba( 255, 149, 0, 1.0); /* Orange */
}

.EventG, .Bambini, .G-Junioren {
   background: rgba( 255, 59, 48, 1.0); /* Green */
}

