@CHARSET "ISO-8859-1";
/**
    ****************************************
	* Sportstaetten-Reservierungs-System   *
	****************************************
	
	Autor:	Achim
	Jahr:	2016
	
	Default-Layout
	
	Quelle fuer HTML-Farbnamen: http://www.w3schools.com/colors/colors_groups.asp
	Style-Guide: https://material.google.com/style/color.html#color-color-palette

**/
/***********************************
Styles fuer verwendete Farben
***********************************/
.Sammeleimer {  
    background: #ffebee;				/* Red 50 */
}

.Stadion, .StadionHaelfte, .StadionHaelfte1 , .StadionHaelfte2, .PlatzTeil, .Platzganztags {
	background: #ffcdd2;				/* Red 100 */
}

.Rasen, .RasenHaelfte, .RasenHaelfte1 , .RasenHaelfte2 {
	background: #ef9a9a;				/* Red 200 */
}

.Kunst, .KunstHaelfte, .KunstHaelfte1 , .KunstHaelfte2 {
    background: #e57373;				/* Red 300 */
}

.Zeit1 {
	background: #ef5350;				/* Red 400 */
}

.Zeit2 {
	background: #f44336;				/* Red 500 */
}

.Zeit, .ZeitNoBorder, .Uhrzeit, .UhrzeitHalbe {
	background: #e53935;				/* Red 600 */
}

.Tag, .Tagesdatum {
	background: #d32f2f;				/* Red 700 */
}

body {
	background: #c62828; 				/* Red 800 */
}

.Belegungsplan, .Muelleimer {
	background: #b71c1c;				/* Red 900 */
}

#DatumButtonLinks, #DatumButtonRechts, #OrtButtonLinks, #OrtButtonRechts, #PlatzButtonLinks, #PlatzButtonRechts {
	background: #ef9a9a;				/* Red 200 */
}