@CHARSET "ISO-8859-1";
/**
    ****************************************
	* Sportstaetten-Reservierungs-System   *
	****************************************
	
	Autor:	Achim
	Jahr:	2016
	
	Default-Layout
	
	Quelle fuer HTML-Farbnamen: http://www.w3schools.com/colors/colors_groups.asp
	Style-Guide: https://material.google.com/style/color.html#color-color-palette

 	Quelle fuer Linear-Gradient der Marker: http://www.cssmatic.com/gradient-generator
*/

/*******************************************
Styles fuer ToolTip Kalenderblatt
*******************************************/

#Kalenderblatt {
	width: 50px;
	height: 50px;
	background-color: #f1f8e9;				/* Light Green 50 */
	border-radius: 6px; 
	font-family: "Arial", Verdana, san-serif;
}

#Tagname {
	background-color:  #33691e;				/* Light Green 900 */
	color: #f1f8e9;							/* Light Green 50 */
	padding: 2px;
	font-size: 8px;
	text-align: center;
	border-top-left-radius: 6px; 
	border-top-right-radius: 6px; 
}

#Tag {
	margin-top: 7px;
	font-size: 15px;
	text-align: center;
	color: #33691e;							/* Light Green 900 */
}

#Monat {
	font-size: 8px;
	text-align: center;
	color: #33691e;							/* Light Green 900 */
}

.qtip-default {
	border: 1px solid #f1f8e9;				/* Light Green 50 */
	background-color: #558b2f;				/* Light Green 800 */
	color: #f1f8e9;							/* Light Green 50 */
}

.qtip-default .qtip-titlebar {
	background-color: #689f38;				/* Light Green 700 */
	color: #f1f8e9;							/* Light Green 50 */
}